.main-wrapper {
  color: rgb(46, 46, 157);
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .mokejimosalygos {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    color: rgb(46, 46, 157);
    cursor: pointer;
  }
  .vertical-line {
    position: relative;
    width: 1px; /* Set the width/thickness of the line */
    height: 100px; /* Set the height of the line */
    background-color: rgba(128, 128, 128, 0.3); /* Set the color of the line */
    top: -200px;
    left: 320px; /* Adjust the position of the line, -5px is an example value */
    width: 1px; /* Set the width/thickness of the line */
    height: 325px;
  }
  /* Optional: Align the vertical line next to an existing element */
  .vertical-line::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 330px; /* Adjust the position of the line, -5px is an example value */
    width: 1px; /* Set the width/thickness of the line */
    height: 325px; /* Set the height of the line to match the parent's height */
    background-color: rgba(128, 128, 128, 0.3); /* Set the color of the line */
  }
  .secondcontent-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 900px;
    height: 400px;
    margin-left: 280px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    color: rgb(46, 46, 157);
  }
  .secondcontent-wrapper .secondcontentone {
    padding-top: 3rem;
  }
  .secondcontent-wrapper .secondcontenttwo {
    text-align: center;
  }
  .secondcontent-wrapper .secondcontenttwo .sutaupote75 {
    all: unset;
    width: 9rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: violet;
    color: rgb(46, 46, 157);
  }
  .secondcontent-wrapper .secondcontentthree {
    padding-top: 3rem;
  }
  .secondcontent-wrapper .fa-regular,
  .secondcontent-wrapper fa-circle-question {
    padding-left: 5rem;
  }
  .header-wrapper {
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    border-top: 1px solid rgba(128, 128, 128, 0.8);
  }
  .burger-button {
    display: none;
  }
  .main-wrapper {
    display: grid; /* Switch to grid on larger screens */
    grid-template-columns: 4fr 6fr;
    flex-direction: initial;
  }
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .mokejimosalygos {
    display: flex;
    justify-content: center;

    margin-top: 2rem;
    color: rgb(46, 46, 157);
    cursor: pointer;
  }
  .secondcontent-wrapper {
    display: flex;
    gap: 3rem;
    border: 1px solid rgba(128, 128, 128, 0.3);
    justify-content: center;
    align-items: center;
    color: rgb(46, 46, 157);
  }
  .secondcontent-wrapper .mokejimosalygos {
    display: flex;
    justify-content: center;
    color: rgb(46, 46, 157);
    cursor: pointer;
  }
  .secondcontent-wrapper .sutaupote75 {
    all: unset;
    width: 9rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: violet;
    color: rgb(46, 46, 157);
  }
  .secondcontent-wrapper .secondcontentone {
    order: 2;
    text-align: center;
  }
  .secondcontent-wrapper .secondcontenttwo {
    order: 1;
    text-align: center;
  }
  .secondcontent-wrapper .secondcontentthree {
    display: none;
  }
  .images-wrapper {
    gap: 4rem;
  }
  .contentTwo img {
    padding-left: 0.5rem;
    margin: 0;
  }
  .contentOne {
    text-align: center;
  }
  .contentOne .moneyWrapper {
    justify-content: center;
  }
  .contentOne .button-wrapper {
    justify-content: center;
  }
  .link-wrapper ul {
    display: none;
  }
  .lithuaniaflag {
    display: none;
  }
  .main-wrapper {
    display: grid;
  }
}
.fa-solid,
fa-check {
  color: green;
  padding-right: 5px;
}

footer .twoimg {
  width: 16%;
  height: 20rem;
  margin: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
footer .lastimages-wrapper {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
  overflow-x: hidden;
  padding: 1rem;
}
footer .lastimages-wrapper .imgone {
  width: 28%;
  height: 20rem;
  margin: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
footer .tablewrapper :nth-child(1) {
  color: rgb(46, 46, 157);
  border-color: rgb(46, 46, 157);
}
footer .tablewrapper {
  text-align: center;
}
footer .tablewrapper a :nth-child(1) {
  border-color: rgb(46, 46, 157);
}
footer .tablewrapper a {
  all: unset;
  border-bottom: 3px solid gray;
  padding: 1rem;
}
footer .textcontent {
  color: rgb(46, 46, 157);
  text-align: center;
}

.moneyWrappertwo {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.h2pargraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(46, 46, 157);
}

.images-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  padding-left: 13rem;
  padding-right: 13rem;
}
.images-wrapper .image-one {
  width: 15rem;
  height: 10rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.images-wrapper .image-two {
  width: 15rem;
  height: 7.5rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.contentTwo img {
  width: 45rem;
  height: 35rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.moneyWrapper {
  display: flex;
  align-items: baseline;
  margin-top: 0;
  margin-bottom: 0;
}

.button-wrapper {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
.button-wrapper button {
  all: unset;
  border: 1px solid rgb(46, 46, 157);
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 0.5rem;
}

h4 {
  margin-top: 0;
}

.contentOne {
  padding-left: 7rem;
}

.contentOne p {
  margin-bottom: 0;
  margin-top: 0; /* Reduce the margin bottom value */
}

h2 {
  font-size: 2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

img {
  width: 45rem;
  height: 35rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.last-button .paragraph-wrapper {
  margin-top: 1rem;
}
.last-button button {
  all: unset;
  width: 15.5rem;
  height: 3rem;
  background-color: rgb(70, 70, 202);
  color: white;
  margin-top: 1rem;
  text-align: center;
  border-radius: 0.2rem;
  cursor: pointer;
}

.burger-button i {
  font-size: 1.6rem;
  cursor: pointer;
  color: black;
}

ul li {
  all: unset;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}
.header-wrapper a {
  all: unset;
  cursor: pointer;
}
.header-wrapper .link-wrapper button {
  all: unset;
  height: 2.5rem;
  width: 5rem;
  border: 1px solid black;
  padding-left: 0.8rem;
  font-weight: 600;
}
.header-wrapper .link-wrapper a {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.image-wrapper {
  display: flex;
  align-items: center;
  width: 1rem;
  height: 1rem;
  -o-object-fit: cover;
  object-fit: cover;
  align-self: center;
}

img {
  width: 7rem;
  height: 2rem;
  -o-object-fit: cover;
  object-fit: cover;
  align-self: center;
  margin-left: 1rem;
} /*# sourceMappingURL=index.css.map */
